{
  "singleQuote": true,
  "arrowParens": "avoid",
  "semi": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./apps/back-office-app/src/app/global.css",
  "tailwindFunctions": ["cn", "cva"]
}